/* General Styles */
body,
html {
margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  color: #333;
  background-color: white; /* Fallback background color */
  scroll-behavior: smooth;
  background-image: url("b.jpg");
  background-size: cover; /* Cover the entire page */
  background-attachment: fixed; /* Fix the background image */
  background-position: center; /* Center the background image */
}

header {
  position: relative;
  text-align: center;
  overflow: hidden;
  color: black;
}

/* Booking section */
.booking-section {
  margin-top: 10px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.booking-section form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background-color: #271919fa;
  opacity: 0.9;
}

.booking-section label {
  font-weight: bold;
  margin-right: 5px;
}

.booking-section input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.booking-section button {
  padding: 10px;
  width: 80px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.booking-section button:hover {
  background-color: #0056b3;
}

/* banner-image styles */
.banner-image {
  width: 100%;
  height: 450px;
  display: block;
  /* object-fit: contain; */
  /* border-radius: 8px; */
  
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  animation: bannerAnimation 10s infinite alternate;
}

@keyframes bannerAnimation {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.05) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.header-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  line-height: 1.2;
  transition: color 0.3s ease-in-out;
}

header p {
  margin: 10px 0 0;
  font-size: 1.2em;
  line-height: 1.4;
  transition: color 0.3s ease-in-out;
}

header:hover .header-content {
  transform: translate(-50%, -45%);
  opacity: 1;
}

header:hover h1,
header:hover p {
  font-weight: bolder;
}

footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

p {
  margin: 10px 0;
}

section {
  margin-bottom: 100px;
  padding: 20px;
  background-color: white;


}

/* CTA Button */
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Explore Section */
.explore-images {
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow wrapping of cards */
  margin-top: 20px;
}

.card {
  flex: 1 1 300px; /* Allow cards to grow and shrink, with a base width of 300px */
  margin: 10px; /* Space between cards */
  border-radius: 10px; /* Increased border-radius for a smoother look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative; /* For positioning elements inside */
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s; /* Add transition for hover effect */
}

.card:hover img {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.card p {
  color: #666;
  font-size: 1.1em;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#explore h2,
p {
  text-align: center;
}

/* Services Section */
#services {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #3974a5;
}

#services h2 {
  color: #0d47a1;
  text-align: center;
}

#services ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: left; /* Space items evenly */
}

#services li {
  background-color: #f2f2f2;
  color: rgb(53, 49, 49);
  font-weight: 700;
  flex: 1 1 30%; /* Each item takes 30% of the row */
  box-sizing: border-box;
  margin-bottom: 10px; /* Add some space between rows */
  text-align: center; /* Center-align text and icon */
  font-size: 1.2em;
  margin: 5px; /* Space between items */
  padding: 10px;
  width: calc(33.33% - 30px); 
  box-shadow: 20px 10px 40px rgba(182, 174, 174, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Responsive Styles for larger devices */
@media (min-width: 768px) {
  #services li {
    width: calc(33.33% - 30px); /* Ensure 3 items per row on larger devices */
  }
}

.services-icons {
  display: flex;
  justify-content: center; /* Center the icons */
  margin-top: 10px; /* Space above the icons */
}

.services-icons i {
  font-size: 1.2em; /* Size of the icons */
  color: #007bff; /* Color of the icons */
  margin: 0 5px; /* Space between icons */
  transition: color 0.3s; /* Transition for hover effect */
}

.services-icons i:hover {
  color: #0056b3; /* Darker color on hover */
}

/* Gallery Section */

.galleries-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-end; 
 
}

.gallery {
  flex: 0 0 45%; /* Set to 48% to allow for spacing */
  margin:0px; /* Reduced margin around each gallery item */
  padding-top: 5px;
  padding-bottom: 2px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}
#galleries h2 {
  color: #0d47a1;
  text-align: center;
  
}

.gallery img {
   
  width: 80%;
  height: 200px;
  object-fit: cover; 
  margin-left: auto;
  margin-right: auto;
}

.gallery:hover {
  transform: translateY(-5px);
}

.gallery p {
  font-style: italic;
  margin-bottom: 10px;
}

.gallery span {
  display: block;
  font-weight: bold;
  color: #007bff;
}

/* Contact Section */
#contact {
  /* border-radius: 8px; */
  /* background-image: url("b.png"), url("b.jpg");  */
  /* background-size: cover;
  background-position: center; */
  background-color: white;
  display: flex;
  /* background-blend-mode: hard-light;  */
}


#contact form {
  display: flex;
  background-color: #f3f3f3;
  text-align: center;
  flex-direction: column;
  width: 500px;
  padding: 25px;
  border-radius: 10px;
}

#address {
  width: 400px;
  /* color: rgb(218, 211, 211); */
  font-size: 1.5em;
  font-weight: bolder;
  width: 100%;
}

#address h1 {
  color: rgb(36, 112, 116);
  font-size: 1.2em;
  font-weight: bolder;
}

#address ul {
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
}

#contact input,
#contact textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #7b5959;
  background-color: transparent;
  border-radius: 5px;
  overflow-x: hidden;
  height: auto; /* Allow the height to adjust automatically */
  resize: vertical; /* Allow vertical resizing */
}

#contact button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contact button:hover {
  background-color: #218838;
}


/* Footer */
footer p {
  margin: 0;
}

/* Section Images */
.section-image {
  height: 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
  #services ul,
  #explore .explore-images {
    flex-direction: column;
    align-items: center;
  }

  #services li {
    width: 90%;
  }
  .card {
    flex: 1 1 100%; /* Full width on smaller screens */
  }

  .navbar {
    font-size: 13px;
    position: sticky;
  }
  .navbar-list {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: center; /* Center the navbar items */
    margin-right: 0; /* Reset the right margin */
    gap: 10px; /* Add gap between navbar items */
    padding: 0; /* Remove extra padding */
  }

  .navbar-list li {
    width: auto; /* Keep the width adaptive */
    padding: 5px; /* Add padding around each item */
  }

  #address {
    width: 300px;
    font-size: 20px;
  }

  #address ul {
    font-size: 20px;
    padding-left: 15px;
  }

  header h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1em;
  }

  body {
    margin-top: 70px;
  }

  #contact {
    flex-direction: column;
    align-items: center;
  }

  #contact form {
    width: 250px;
    margin-left: 0;
  }

  .banner-image {
    margin-top: 10px;
    height: 200px;
  }

  .gallerys-container {
    flex-direction: row;
    align-items: center;
  }

  .gallery {
    width: 90%;
    flex: 0 0 90%;
    flex-grow: 1;
  }

  #services li {
    margin: 5px;
  }

  .booking-section form {
    flex-direction: column; /* Stack form elements vertically on smaller screens */
  }

  .booking-section input {
    width: 100%; /* Full width for inputs on smaller screens */
  }

  .booking-section button {
    width: 100%; /* Full width for button on smaller screens */
  }
}

/* Navbar Styles */
.navbar {
  background-color: #817878;
  display: flex;
  justify-content: center; /* Space between items */
  align-items: center;
  padding: 10px 20px;
  position: fixed; /* Changed from sticky to fixed */
  top: 0;
  z-index: 1000;
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* Include padding in width */
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin: 0 15px;
}

.navbar-list a {
  color: #050000;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bolder;
  font-size: 1.2em;
}

.navbar-list a:hover {
  color: #c8f181;
}

.navbar-icon {
  width: 25px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
}

.navbar-icon::before,
.navbar-icon::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}

.navbar-icon::before {
  top: -8px;
}

.navbar-icon::after {
  top: 8px;
}

.icon {
  width: 24px; /* Adjust the size as needed */
  height: 24px;
  margin-right: 8px; /* Space between the icon and text */
  vertical-align: middle; /* Aligns the icon with the text */
}

#animationelement {
  background: url("book.png") no-repeat center;
  background-size: contain;
  margin-top: 3%;
  height: 350px;
  width: 200px;
  position: fixed;
  z-index: 999;
  right: 0;
}

.numberimage {
  max-height: 80px;
  max-width: 80px;
}

.btn-large {
  text-transform: none !important;
}

code {
  display: block;
  background-color: #E8E8E8;
  color: #888888;
  border-radius: 8px;
  width: 96%;
  padding: 2%;
}

.invisible {
  visibility: hidden;
}

@media only screen and (min-width: 1600px) {
  .toppadding {
    padding-top: 2rem;
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(-10px) rotate(-5deg);
  }
  25% {
    transform: translateX(-50px) rotate(10deg);
  }
  50% {
    transform: translateX(0) rotate(-5deg);
  }
  75% {
    transform: translateX(-50px) rotate(10deg);
  }
  100% {
    transform: translateX(-10px) rotate(-5deg);
  }
}

.wiggle {
  animation: wiggle 3s ease-in-out infinite; /* Adjust duration and easing as needed */
}

*, *:after, *:before {
  box-sizing: border-box;
}

.wrapper_outer {
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  overflow-x: hidden;
  perspective: 1px;
}

.parallax_section {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 10vh 10vh;
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  transform-style: preserve-3d;
}

.parallax_bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  min-height: 100%;
  transform: translate3d(0, 0, -1px) scale(2);
}
